In [15]:
import pandas as pd
import json

# ดึงข้อมูล การติดเชื้อประจำวันที่ 24 สค 64
with open('today-cases-by-provinces.json') as json_file : 
    # json.load() คือการแปลง JSON ไปเป็น Python Object (Dict) 
    data = json.load(json_file)
df = pd.DataFrame(data)
df

,txn_date,province,new_case,total_case,new_case_excludeabroad,total_case_excludeabroad,update_date
0,2021-08-24,กระบี่,18,1469,18,1462,2021-08-24 07:39:59
1,2021-08-24,กรุงเทพมหานคร,4053,278623,4053,276889,2021-08-24 07:39:59
2,2021-08-24,กาญจนบุรี,274,10337,274,10335,2021-08-24 07:39:59
3,2021-08-24,กาฬสินธุ์,100,6500,100,6500,2021-08-24 07:39:59
4,2021-08-24,กำแพงเพชร,63,5500,63,5500,2021-08-24 07:39:59
...,...,...,...,...,...,...,...
73,2021-08-24,เพชรบูรณ์,151,5048,151,5047,2021-08-24 07:39:59
74,2021-08-24,เลย,26,2428,26,2428,2021-08-24 07:39:59
75,2021-08-24,แพร่,9,1293,9,1293,2021-08-24 07:39:59
76,2021-08-24,แม่ฮ่องสอน,7,267,7,265,2021-08-24 07:39:59
77,2021-08-24,ไม่ระบุ,0,153,0,141,2021-08-24 07:39:59